*.exe
*.pdf
*.zip
*.gtpl
*.jpg
!Learning/Database_System/homework/homework3/img/*.jpg
*.png
!Learning/Computational_Modeling/homework/img/*.png
*.pyc
*.aux
*.log
*.gz
*.out
.vscode/
go/bin
go/pkg
go/src/github.com
Learning/Computer_Network/lab1/cache
Learning/Big_Data_Analysis/lab1/*txt
