#########################################################
# ignore

# file type
*.exe
*.pdf
*.zip
*.gtpl
*.jpg
*.png
*.pyc
*.aux
*.log
*.gz
*.out
*.dll
*.xlsx
Learning/Big_Data_Analysis/lab1/*.txt
Learning/Big_Data_Intelligence/lab2/*
Learning/Database_System/homework/homework2/*.txt

# folder
.vscode/
go/bin
go/pkg
go/src/github.com
Learning/Computer_Network/lab1/cache
Learning/Operating_System/lab_reports/022_lab05/code
Learning/Database_System/lab/lab2_ref
Learning/Database_System/lab/lab2/relation_join/disk
Learning/Big_Data_Analysis/project/

##########################################################
# not ignore

# readme
!Learning/Big_Data_Intelligence/lab2/readme.md

# note
!Learning/Computer_Architecture/note/note.pdf
!Learning/Computer_Network/note/Computer_Network.pdf

# homework
!Learning/Database_System/homework/homework2/homework2.txt
!Learning/Database_System/homework/homework3/img/*.jpg
!Learning/Database_System/homework/homework4/figure/*.png
!Learning/Computational_Modeling/homework/img/*.png
!Learning/Biochemistry/homework/homework1/homework1.pdf
!Learning/Biochemistry/homework/homework2/homework2.pdf
!Learning/Big_Data_Intelligence/project/report.pdf